html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    background: $gray;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Kalpurush', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.3;
}

h1,h2,h3,h4,h5,h6,p,span,a,ul,li{
    margin: 0;
    padding: 0;
}

// encore 
a, a:visited, a:hover{
    text-decoration: none;
    color: $black;
    cursor: pointer;
}

hr{
    border: 1px solid rgba(128,128,128,.3);
}

// List
ul{
    list-style-type: none;
}

.container{
    width: 73.125rem; // 11,70px
    margin: 0 auto;
}

// FlexBox
.flex{
    display: flex;

    &-wrap{
        flex-wrap: wrap;
    }

    &-d-c{
        flex-direction: column;
    }

    &-jc-sb{
        justify-content: space-between;
    }

    &-jc-c{
        justify-content: center;
    }

    &-ai-c{
        align-items: center;
    }

    &-as-c{
        align-self: center;
    }
}

// Button

.button{
    display: block;
    background-color: transparent;
    border: 1px solid #004D40;
    color: #243C6E;
    border-radius: 0px;
    text-align: center;
    margin: 10px auto;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover{
    color: #fff;
    background-color: #004D40;
}