.header{
    &__first{
        background: $white;
        padding: 10px;
    }

    &__first > div{
        @include breakpoint-down(medium){
            flex: 1 0 100%;
        }
    }

    &__logo{
        @include breakpoint-down(medium){
            order: 3;

            img{
                display: block;
                margin: 0 auto;
            }
        }
    }

    &__name{
        .bangla{
            font-weight: bold;
            color: #333;
            font-size: 28px;
        }
        .english{
            font-weight: bold;
            color: #333;
            font-size: 28px;
        }
        @include breakpoint-down(medium){
            order: 4;
            text-align: center;
        }
    }

    &__language{
        @include breakpoint-down(medium){
            order: 1;
            text-align: right;
        }
    }

    &__email{
        a{
            font-size: 14px;
            font-family: 'Oswald', sans-serif;
            font-weight: bold;
        }
        @include breakpoint-down(medium){
            order: 2;
            text-align: right;
        }
    }

    &__navbar{
        background: $lightGray;
        font-weight: bold;
        .nav{
            list-style-type: none;
            padding-left: 0;
            margin: 0;
        }

        .nav-item{
            @include breakpoint-down(medium){
                flex: 1 0 100%;
                text-align: center;
            }
        }

        .nav-link{
            display: inline-block;
            padding: 10px 20px;
            color: #333;
            transition: .5s ease-in-out;
        }

        .nav-link:hover{
            background: $white;
        }

        .nav li:first-child{
            background: $white;
        }
        .dropdown{
            position: relative;
        }

        .dropdown:hover .dropdown-content{
            visibility: visible;
        }

        .dropdown-content{
            visibility: hidden;
            background: $lightGray;
            position: absolute;
            min-width: 150px;
            box-shadow: 0 0 5px 0 #333;
            z-index: 1;
            // transition: visibility .1s ease-in-out;
        }

        .dropdown-link{
            display: block;
            padding: 10px;

        }
        .dropdown-link:hover{
            background: $white;
        }

    }

    .notice-up{
        height: 1rem;
        background: $white;
    }

    &__notice{
        .text{
            flex: 1 0 10%;
            text-align: center;
            background: $green;
            color: $white;
            font-weight: bold;

            p{
                margin: 0;
                padding: 8px;
            }
        }
        .payment{
            flex: 1 0 90%;
            background: $lightGray;
            padding: 7px 10px;
        }

    }
    
}