.hero{
    padding: 24px 0;

    // &__main > div{
    //     flex-grow: 1;
    // }

    &__main > div:not(:last-child){
        margin-right: 30px;
    }

    .first{
        @include breakpoint-down(medium){
            flex: 1 0 100%;
        }
    }

    .first > div{
        flex: 1 0 100%;
        padding: 15px;
        background-color: $green;
        color: $white;
        text-align: center;
        font-size: 18px;
        font-weight: bold;


        a{
            color: $white;
        }

        @include breakpoint-down(medium){
            flex: 1 0 92%;
            margin: 15px 4%;
        }

       
    }
    .second{
        flex: 1 0 50%;
        img{
            width: 100%;
            min-height: 358px;
        }

        @include breakpoint-down(medium){
            flex: 1 0 92%;
            margin: 30px 4%!important;
        }
    }

    .third{
        flex: 1 0 30%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 16px;

        img{
            height: 120px;
            width: 120px;
            border-radius: 50%;
        }

        @include breakpoint-down(medium){
            flex: 1 0 92%;
            margin: 30px 4%!important;
        }

    }
}